

body {
    background-color: #F6F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
}